@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secundary: 'Poppins', sans-serif;
    --font-terciary: 'Zen Maru Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

div img {
    display: block;
    width: 100%;
}


/*CABEÇALHO*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: #00003a;
    height: 100px;
    display: flex;
    align-items: center;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-items li a {
    color: white;
    font-size: 16px;
    font-family: var(--font-primary);
    margin-right: 30px; 
    position: relative;
    top: 1.3rem;
}

header .menu {
    justify-content: space-between;
}
 
header .titulo-cabeçalho {
    font-family: var(--font-secundary);
    font-size: 20px;
    color: white;
}


/*APRESENTAÇÃO*/

.apresentaçao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentaçao .texto-apresentaçao {
    min-height: 200px;
}

.texto-apresentaçao h1 {
    font-family: var(--font-secundary);
    font-size: 50px;
    margin-bottom: 10px;
    color: #00003a;
}

.texto-apresentaçao p {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    margin-bottom: 6px;
}

.texto-apresentaçao a {
    border: #00003a 2px solid;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-primary);
    color: white;
    background-color: #00003a;
    line-height: 40px;
    display: block;
}

.flex-container #quem-somos {
    font-family: var(--font-primary);
    margin-top: 45px;
    color: #00003a;
}

#quem-somos h2 {
    border-left: #00003a 3px solid;
    margin-bottom: 35px;
    font-size: 40px;
    padding-left: 10px;
}

#quem-somos p {
    font-family: var(--font-secundary);
    font-weight: bolder;
    width: 90%;
}

.imagem {
    position: relative;
    right: 30px;
    min-width: 500px;
}


/*SERVIÇOS*/

.container-externo {
    background-color: #00003a;
    width: 100%;
}

#serviços {
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 50px;
}

#serviços h2 {
    font-family: var(--font-primary);
    font-size: 45px;
    color: white;
    position: relative;
    right: 7rem;
}

.list-serviços {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.list-serviços .item-serviços {
    position: relative;
    bottom: 5rem;
}

.item-serviços p {
    font-family: var(--font-primary);
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.item-serviços a {
    border: white 2px solid;
    border-radius: 30px;
    padding: 2px 8px;
    color: #00003a;
    background-color: white;
    font-family: var(--font-secundary);
    font-weight: bolder;
}

.item-serviços img {
    width: 80%;
    margin: auto;
}
    

/*PLANOS*/

#plano {
    flex-direction: column;
    min-height: 100vh;
}

#plano h2 {
    font-family: var(--font-primary);
    font-size: 45px;
    color: #00003a;
    position: relative;
    top: 1rem;
    right: 5rem;
}

.list-plano {
    display: flex;
    align-items: flex-end;
}

.item-plano {
    border: 5px solid #00003a;
    border-radius: 2px;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 30px;
}

.item-plano h3 {
    font-family: var(--font-primary);
    font-size: 25px;
    color: #00003a;
    border-bottom: 3px solid #00003a;
    padding: 20px 0px;
    text-align: center;
}

.item-plano ul li {
    font-family: var(--font-secundary);
    color: #00003a;
    font-weight: bolder;
}

.vantagens {
    margin: 0;
    margin-top: 50px;
    padding-left: 1.2rem;
  }
  
  .vantagens li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .vantagens li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -2px;
      width: 5px;
      height: 11px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #00003a;
      transform-origin: bottom left;
      transform: rotate(45deg);
  }

  .btn-saiba-mais {
      border: solid 1px #00003a;
      border-radius: 30px;
      background-color: #00003a;
      font-family: var(--font-secundary);
      color: white;
      position: relative;
      left: 4rem;
      top: 2rem;
      padding: 10px 15px;
  }
  
 /*RODAPÉ*/

 footer {
     background-color: #00003a;
     height: 70px;
     display: flex;
     align-items: center;
 }

 footer .footer {
     justify-content: space-between;
     color: white;
     font-family: var(--font-primary);
 }

 /*MOBILE*/

 @media(max-width: 992px) {
     .flex-container {
         flex-direction: column;
         min-width: 320px;
     }

     .list-items {
         position: relative;
         bottom: 1rem;
     }

     .apresentaçao {
         flex-direction: column;
         width: 80%;
     }

     .apresentaçao .texto-apresentaçao {
        width: 100%;
     }

     #quem-somos {
         flex-direction: column;
     }

     #quem-somos img {
         min-width: 320px;
         margin: auto;
     }

     .item-serviços {
         width: 50%;
         margin: auto;
     }

     .item-serviços img {
         min-width: 100px;
         width: 100%;
     }

     .list-serviços {
         margin: auto;
         flex-direction: column;
     }

     #serviços h2 {
         margin: auto;
     }

     .titulo-plano h2 {
         margin: auto;
         position: relative;
         left: 2rem;
         margin-bottom: 20px;
     }

     .list-plano {
         flex-direction: column;
         align-items: flex-start;
         margin: auto;
     }

     .list-plano .item-plano {
         max-width: 90%;
         margin: auto;
         margin-bottom: 10px;
         width: 100%;
     }
 }